version: '3.8'

services:
  bot:
    build: .
    container_name: idsr_bot
    restart: always
    ports:
      - "8000:8000"
    volumes:
      # Map local ./bot_data to /data inside container
      # On Railway, mount a Volume to /data for this service
      - ./bot_data:/data
